[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/argparse"]
	path = vendor/argparse
	url = https://github.com/morrisfranken/argparse.git
